<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="HidWizards.UCR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib;libs" />
    </assemblyBinding>
  </runtime>
  <userSettings>
    <HidWizards.UCR.Properties.Settings>
      <setting name="StartMinimized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Height" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="Width" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="Top" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="Left" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="WindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
    </HidWizards.UCR.Properties.Settings>
  </userSettings>
</configuration>